In [1]:
import pandas as pd
import string
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [2]:
# Download stopwords and wordnet
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/andressalguero/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/andressalguero/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [3]:
# Reading the csv file
df=pd.read_csv('airlines_reviews.csv')

In [4]:
# Displaying first 5 rows of the dataset
df.head()

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no
2,Food was plentiful and tasty,S Han,2024-02-20,Singapore Airlines,True,Excellent performance on all fronts. I would...,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,10,yes
3,“how much food was available,D Laynes,2024-02-19,Singapore Airlines,True,Pretty comfortable flight considering I was f...,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes
4,“service was consistently good”,A Othman,2024-02-19,Singapore Airlines,True,The service was consistently good from start ...,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes

In [5]:
# Displaying the shape of the dataset
df.shape

(8100, 17)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8100 entries, 0 to 8099
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   8100 non-null   object
 1   Name                    8100 non-null   object
 2   Review Date             8100 non-null   object
 3   Airline                 8100 non-null   object
 4   Verified                8100 non-null   object
 5   Reviews                 8100 non-null   object
 6   Type of Traveller       8100 non-null   object
 7   Month Flown             8100 non-null   object
 8   Route                   8100 non-null   object
 9   Class                   8100 non-null   object
 10  Seat Comfort            8100 non-null   int64
 11  Staff Service           8100 non-null   int64
 12  Food & Beverages        8100 non-null   int64
 13  Inflight Entertainment  8100 non-null   int64
 14  Value For Money         8100 non-null   int64
 15  Overall Rating          8100 non-null   int64
 16  Recommended             8100 non-null   object
dtypes: int64(6), object(11)
memory usage: 1.1+ MB

In [7]:
df.describe()

,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating
count,8100.000000,8100.000000,8100.000000,8100.000000,8100.000000,8100.000000
mean,3.414815,3.569877,3.384074,3.636790,3.148642,5.632469
std,1.397183,1.527436,1.455694,1.309564,1.589377,3.523664
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000
25%,2.000000,2.000000,2.000000,3.000000,1.000000,2.000000
50%,4.000000,4.000000,4.000000,4.000000,3.000000,6.000000
75%,5.000000,5.000000,5.000000,5.000000,5.000000,9.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,10.000000

In [8]:
df.columns

Index(['Title', 'Name', 'Review Date', 'Airline', 'Verified', 'Reviews',
       'Type of Traveller', 'Month Flown', 'Route', 'Class', 'Seat Comfort',
       'Staff Service', 'Food & Beverages', 'Inflight Entertainment',
       'Value For Money', 'Overall Rating', 'Recommended'],
      dtype='object')

In [9]:
df.isnull().sum()

Title                     0
Name                      0
Review Date               0
Airline                   0
Verified                  0
Reviews                   0
Type of Traveller         0
Month Flown               0
Route                     0
Class                     0
Seat Comfort              0
Staff Service             0
Food & Beverages          0
Inflight Entertainment    0
Value For Money           0
Overall Rating            0
Recommended               0
dtype: int64

In [10]:
# Text preprocessing

In [10]:
# Initialize lemmatizer and stopwords
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

In [11]:
# Function for text cleaning and preprocessing
def preprocess_text(text):

    # Remove punctuation and special characters
    text = str.translate(text, str.maketrans('', '', string.punctuation))
    # Remove numbers
    text = re.sub(r'\d+', '', text)
    # Tokenize and remove stopwords
    tokens = [word for word in text.split() if word not in stop_words]
    # Lemmatize tokens
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    # Join tokens back to a single string
    return ' '.join(tokens)

In [12]:
# Apply preprocessing to the 'Reviews' column
df['Cleaned_Reviews'] = df['Reviews'].apply(preprocess_text)

In [13]:
# Preview the cleaned data
df[['Reviews', 'Cleaned_Reviews']]

,Reviews,Cleaned_Reviews
0,Flight was amazing. The crew onboard this fl...,Flight amazing The crew onboard flight welcomi...
1,Booking an emergency exit seat still meant h...,Booking emergency exit seat still meant huge d...
2,Excellent performance on all fronts. I would...,Excellent performance front I would definitely...
3,Pretty comfortable flight considering I was f...,Pretty comfortable flight considering I flying...
4,The service was consistently good from start ...,The service consistently good start finish The...
...,...,...
8095,"KE124, Brisbane to Incheon (A330) and KE867,...",KE Brisbane Incheon A KE Incheon Ulaanbaatar A...
8096,Our recent flight was our fourth trip to the...,Our recent flight fourth trip UK year Sydney L...
8097,I flew Korean Air from Bali to Seoul in Pres...,I flew Korean Air Bali Seoul Prestige Class Bu...
8098,Seoul to Paris with Korean Air. I am traveli...,Seoul Paris Korean Air I traveling triathlon b...
8099,The 13 hour flight in Business class from Se...,The hour flight Business class Seoul Toronto o...

In [15]:
# Feature Engineering

In [14]:
# Convert 'Review Date' to datetime format
df['Review Date'] = pd.to_datetime(df['Review Date'])

In [15]:
# Extracting date features
df['Year Flown'] = df['Review Date'].dt.year
df['Month Flown'] = df['Review Date'].dt.month
df['Day '] = df['Review Date'].dt.day
df['Day of Week'] = df['Review Date'].dt.dayofweek  # Monday=0, Sunday=6
df['Week of Year'] = df['Review Date'].dt.isocalendar().week  # Week of year

In [16]:
# Length of review text
df['Review_Length'] = df['Cleaned_Reviews'].apply(len)
df['Review_Length']

0       330
1       193
2       144
3       691
4       213
       ...
8095    491
8096    789
8097    733
8098    868
8099    211
Name: Review_Length, Length: 8100, dtype: int64

In [17]:
# Word count in the review
df['Word_Count'] = df['Cleaned_Reviews'].apply(lambda x: len(x.split()))
df['Word_Count']

0        53
1        28
2        18
3        98
4        32
       ...
8095     76
8096    115
8097    115
8098    127
8099     30
Name: Word_Count, Length: 8100, dtype: int64

In [18]:
df['Recommended'] = df['Recommended'].map({'yes': 1, 'no': 0})

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8100 entries, 0 to 8099
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   8100 non-null   object
 1   Name                    8100 non-null   object
 2   Review Date             8100 non-null   datetime64[ns]
 3   Airline                 8100 non-null   object
 4   Verified                8100 non-null   object
 5   Reviews                 8100 non-null   object
 6   Type of Traveller       8100 non-null   object
 7   Month Flown             8100 non-null   int32
 8   Route                   8100 non-null   object
 9   Class                   8100 non-null   object
 10  Seat Comfort            8100 non-null   int64
 11  Staff Service           8100 non-null   int64
 12  Food & Beverages        8100 non-null   int64
 13  Inflight Entertainment  8100 non-null   int64
 14  Value For Money         8100 non-null   int64
 15  Overall Rating          8100 non-null   int64
 16  Recommended             8100 non-null   int64
 17  Cleaned_Reviews         8100 non-null   object
 18  Year Flown              8100 non-null   int32
 19  Day                     8100 non-null   int32
 20  Day of Week             8100 non-null   int32
 21  Week of Year            8100 non-null   UInt32
 22  Review_Length           8100 non-null   int64
 23  Word_Count              8100 non-null   int64
dtypes: UInt32(1), datetime64[ns](1), int32(4), int64(9), object(9)
memory usage: 1.3+ MB

In [20]:
df.columns

Index(['Title', 'Name', 'Review Date', 'Airline', 'Verified', 'Reviews',
       'Type of Traveller', 'Month Flown', 'Route', 'Class', 'Seat Comfort',
       'Staff Service', 'Food & Beverages', 'Inflight Entertainment',
       'Value For Money', 'Overall Rating', 'Recommended', 'Cleaned_Reviews',
       'Year Flown', 'Day ', 'Day of Week', 'Week of Year', 'Review_Length',
       'Word_Count'],
      dtype='object')

In [23]:
# Dropping columns that are not necessary

In [21]:
df.drop(['Review Date', 'Title','Name','Route'], axis=1, inplace=True)

In [25]:
# One-hot Encoding

In [22]:
columns_categorical = df.select_dtypes(include=['object']).columns
columns_numerical = ['Review_Length', 'Word_Count','Year Flown','Month Flown','Day ','Day of Week','Week of Year']

In [23]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd


columns_categorical = df.select_dtypes(include=['object']).columns
# Exclude 'Cleaned_Reviews' from categorical columns
columns_categorical = columns_categorical[columns_categorical != 'Cleaned_Reviews']
columns_numerical = ['Review_Length', 'Word_Count','Year Flown','Month Flown','Day ','Day of Week','Week of Year']

In [24]:

onehot_encoder = OneHotEncoder(sparse_output=False, drop='first')
for column in columns_categorical:
    encoded_data = onehot_encoder.fit_transform(df[[column]])
    encoded_df = pd.DataFrame(encoded_data, columns=onehot_encoder.get_feature_names_out([column]))
    df = pd.concat([df, encoded_df], axis=1)

# Dropping categorical columns, excluding 'Cleaned_Reviews'
df.drop(columns_categorical, axis=1, inplace=True)

In [25]:
# 1. Sentiment Analysis DataFrame
sentiment_df = df[['Overall Rating', 'Cleaned_Reviews']]

# 2. Prediction DataFrame (all other columns except 'Cleaned_Review')
prediction_df = df.drop(['Cleaned_Reviews'], axis=1)

# Display the first few rows of both DataFrames
print("Sentiment Analysis DataFrame:")
print(sentiment_df.head())

print("\nPrediction DataFrame:")
print(prediction_df.head())

Sentiment Analysis DataFrame:
   Overall Rating                                    Cleaned_Reviews
0               9  Flight amazing The crew onboard flight welcomi...
1               3  Booking emergency exit seat still meant huge d...
2              10  Excellent performance front I would definitely...
3              10  Pretty comfortable flight considering I flying...
4              10  The service consistently good start finish The...

Prediction DataFrame:
   Month Flown  Seat Comfort  Staff Service  Food & Beverages  \
0            3             4              4                 4
1            2             5              3                 4
2            2             1              5                 2
3            2             5              5                 5
4            2             5              5                 5

   Inflight Entertainment  Value For Money  Overall Rating  Recommended  \
0                       4                4               9            1
1                       4                1               3            0
2                       1                5              10            1
3                       5                5              10            1
4                       5                5              10            1

   Year Flown  Day   ...  \
0        2024     1  ...
1        2024    21  ...
2        2024    20  ...
3        2024    19  ...
4        2024    19  ...

   Reviews_  The seat pockets were ripped and I was unable to store anything. When I used the tray my drink slid off bec the tray was unstable. I mentioned it to the staff but they acted like they didn't know what I was talking about. I used to regards Emirates as tops but very dissatisfied. Every aircraft was quite poor except the CPT/DXB and that was because I slept for the entire flight.  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   Reviews_  They canceled my mother’s flight without any announcement to the passengers who were waiting in line for almost 2 hours. The airport flight information displays still showed that the flight was on time even after we were turned away 2 hours later. While we were at the ticket counter trying to figure out what to do next, their manager told us that flight will be tomorrow morning at 8am (which is incorrect because Seattle only has 1 ANA flight a day, and they’re all at 3:35pm). My mother was staying with us so they didn’t even pay for anything for inconvenience of the delay. They didn’t even offer to try and find another flight. We came back the next afternoon, and finally were able to check in her bags and when we inquired about a seat upgrade (like business class since she already had premium economy), we were told that it was full and they couldn’t upgrade her. They provided nothing for any sort of compensation for the inconvenience,   \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   Reviews_  This company is really number one. Excellent food, kind staff, good seats, clean toilet  No complaining! They are the best and my favorite.   \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   Reviews_  What a nightmare. Taken back to the stand and kept on the plane for 2 hours in sweltering heat with little refreshment and terrible communication from the pilot and staff on board about the fault and when it will be fixed. Absolutely pathetic customer service - it’s like torture on the plane. Stay away from this airline - they do not look after you when there is a problem.  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   Type of Traveller_Couple Leisure  Type of Traveller_Family Leisure  \
0                               0.0                               0.0
1                               0.0                               0.0
2                               0.0                               1.0
3                               0.0                               0.0
4                               0.0                               1.0

   Type of Traveller_Solo Leisure  Class_Economy Class  Class_First Class  \
0                             1.0                  0.0                0.0
1                             1.0                  1.0                0.0
2                             0.0                  1.0                0.0
3                             1.0                  1.0                0.0
4                             0.0                  1.0                0.0

   Class_Premium Economy
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0

[5 rows x 8131 columns]